<% provide(:title, 'Profil') %>
<section>
  <div class="container">
    <div class="page-header">
      <div class="container center">
        <h3 class="session">Édition du profil</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>

            <%= render 'shared/error_users_messages' %>

            <%= f.label "Nom" %>
            <%= f.text_field :nom, class: 'form-control' %>

            <%= f.label "Prénom" %>
            <%= f.text_field :prenom, class: 'form-control' %>

            <%= f.label "Courriel" %>
            <%= f.text_field :email, class: 'form-control' %>

            <%= f.label "Nom d'utilisateur" %>
            <%= f.text_field :username, class: 'form-control' %>

            <%= f.label "Poste" %>
            <%= f.select(:poste,
                         options_for_select([['Cadre', 1], ['Analyste', 2], ['Technicien', 3], ['Fournisseur', 4], ['Entrepreneur', 5]]),{}, {class: 'form-control'} ) %>
            <%= f.label "Code employé" %>
            <%= f.text_field :codeEmploye, class: 'form-control' %>

            <%= f.label "Numéro de téléphone" %>
            <%= f.text_field :telephone, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "Éditer profil", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>